#row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(168, 168, 168, 0.5);
    height: 8%;
    width: 100%;
    margin-bottom: 2%;
}